- if current_user.try(:admin)
  .admin-navbar.navbar.navbar-default.center
    .container-fluid
      %ul.nav.navbar-nav
        %li= link_to "Users", admin_users_path
        %li= link_to "Assessments", admin_assessments_path
%nav.navbar.navbar-default.center
  .container-fluid
    %ul.nav.navbar-nav
      - if current_user || current_assessment
        %li= link_to "Profile", home_path
      - else
        %li= link_to "Home", home_path
      %li= link_to "Contact", contact_path
      - if current_user
        %li= link_to "Logout", session_path, method: :delete
