- if current_user.try(:admin)
  .admin-navbar.navbar.navbar-default.center
    .container-fluid
      %ul.nav.navbar-nav
        %li= link_to "Users", admin_users_path
        %li= link_to "Assessments", admin_assessments_path
        %li= link_to "Logout", session_path, method: :delete
%nav.navbar.navbar-default.center
  .container-fluid
    %ul.nav.navbar-nav
      %li= link_to "Home", home_path
      %li= link_to "Contact", contact_path
